.custom-header{
    font-size: 1.75rem !important;
}

.sub-head{
    background-color: #494a4c;
    color: rgb(246, 238, 238);
    font-size: .95rem;
    letter-spacing:  1px;
    padding: .26rem 0;
}

.notify-pop{
    width: 100vw;
    border: 1px black;
    position: fixed;
    left: 0;
    bottom: -5rem;
    z-index: 10;
    background: #23578a;
    transition: .55s ease-in-out;
    display:  flex;
    flex-flow: row nowrap;
    align-items: center;
}

.notify-msg {
    color:  white;
    font-size: 1.1rem;
    margin: 0 1rem;
    padding: .55rem .4rem;
}
