html, body{
    margin: 0;
    padding:  0;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
}

.custom-header{
    font-size: clamp(26px, 2vw, 45px) !important;
}

.sub-head{
    background-color: #494a4c;
    color: rgb(246, 238, 238);
    font-size: clamp(12px, 2vw, 16px);
    letter-spacing:  1px;
    padding: .26rem 0;
    margin: 0;
}

#notify-pop{
    width: 100vw;
    border: 1px black;
    position: fixed;
    left: 0;
    bottom: -5rem;
    z-index: 10;
    background: #23578a;
    transition: .55s ease-in-out;
    display: inline-block;
}

#notify-msg {
    color:  rgb(228, 227, 227);
    font-size: clamp(11.5px, 1.5vw, 18px);
    padding: .35rem .34rem;
    white-space: pre-line;
    font-weight: 300;
}
